:root {
    --heading-text-color: #b43530;
    --paragraph-text-color: #2E2C2D;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

body {}

body {
    background-image: linear-gradient(#5de0e6, #004aad);
}

.logo {
    display: flex;
    justify-content: left;
    font-family: "Big Shoulders";
    
}

header {
    font-family: "Big Shoulders";
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    display: grid;
    grid-template-columns: 2fr 4fr;
    place-items: center;

    

}

.navigation {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: var(--heading-text-color);

    padding: 20px;
    border: var(--border);

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

h1 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--heading-text-color);
    position: absolute;
    top: 25px;
    left: 25px;
}

.herodiv {
    margin: auto;
    position: relative;
}

#hero-img {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px;
}

.about_article {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

article img {
    width: 400px;
    height: auto;
    float: right;
}

#overlay {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: #2E2C2D;

}

.history {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    padding: 10px;

}


.history_heading {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--heading-text-color);
    clear: both;

    grid-column-start: 2;
    grid-column-end: 4;

}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.adventure_heading {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--heading-text-color);

    grid-column-start: 3;
    grid-column-end: 6;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: var(--paragraph-text-color);
}

footer {
    display: flex;
    justify-content: flex-end;

}

#social {
    text-decoration: none;


}

/* contact page */

.form {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: var(--paragraph-text-color);
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 128 / .1);
    border-radius: .5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 128 /.2);
    padding: 1rem;

}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: blue;
}

.form-item {
    display: grid;
    align-items: center;

}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}


.column2 {
    grid-template-columns: 1fr 2fr;
    margin: .5rem 0;
}


.contact_information {
    position: relative;
}

h3 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: var(--heading-text-color);
}

.employees {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: var(--paragraph-text-color);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:

}

/* home.html css */
.home_herodiv {
position: relative;
}

#home_overlay {
    font-family: "Big Shoulders", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: white;

    position: absolute;
}

.home_section_1 {
    font-family: "Big Shoulders", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 25px;

}

.home_section_2 {
    font-family: "Big Shoulders", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 25px;
}

/* trips.html css */

.trips_section_1 {
    font-family: "Big Shoulders", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 25px;
}


.trips_section_2 {
    font-family: "Big Shoulders", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 25px;
}

.trips_section_3 {
    font-family: "Big Shoulders", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 25px;
}


.trips_section_4 {
    font-family: "Big Shoulders", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: white;

    display: grid;
    grid-template-rows: 1fr 1fr;
 
    margin: 25px;
    border: #fff;

}