:root {
    --heading-text-color: #DA413B;
    --paragraph-text-color: #2E2C2D;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

body {
    background-color: #77CAEF;
}

header {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    display: grid;
    grid-template-columns: 2fr 4fr;
    place-items: center;


}

.navigation {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: var(--heading-text-color);

    padding: 20px;
    border: var(--border);

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

h1 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--heading-text-color);
    position: absolute;
    top: 25px;
    left: 25px;
}

.herodiv {
    margin: auto;
    position: relative;
}

#hero-img {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px;
}

article {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

article img {
    width: 400px;
    height: auto;
    float: right;
}

#overlay {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: #2E2C2D;

}

.history {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    padding: 10px;

}


.history_heading {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--heading-text-color);
    clear: both;

    grid-column-start: 2;
    grid-column-end: 4;

}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.adventure_heading {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--heading-text-color);

    grid-column-start: 3;
    grid-column-end: 6;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: var(--paragraph-text-color);
}

footer {
    display: flex;
    justify-content: flex-end;

}

#social {
    text-decoration: none;


}