:root {
  --heading-background-color: #2A2D34;
  --heading-text-color: #A0DDE6;
  --heading-font: ; 
  --padding: 1rem;
  --border: 1px solid rgb(0 0 0 / 0.1);

}
nav {
    background: var(--heading-background-color);
    padding: var(--padding);
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: var(--padding);
}

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--padding);
    background-color: white;
    color: var(--heading-background-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgb(0 0 0 / 0.2);
    text-align: center;
}